nn.py
exp.ipynb
logs/*.log
data.csv
labeled.csv
config/form.ui
ui2py.sh
new_exp.ipynb
config/wiki40b-lm-ru_1.tar.gz
config/rubert_cased_L-12_H-768_A-12_v2.tar.gz
tfhub
config/ruvec
elmo.ipynb
aaaaa.py
.gitignore
experiments